

.khan__quote {
     /* destroy standard stylesheet */
     margin: 0;
 
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding-top: 50px; /* apparently it is a known issue that p tags doesnt support margin top. */
    padding-bottom: 36px;
   
}