.footer__column {
    /* Reset of default styles */
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* end of reset */
  }