@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/table/table.css);
@import url(../blocks/description/description.css);


  
  /* End of header block */
  
  
  
  .two-columns {
    display: flex;
  
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
  }
  
  .two-columns__paragraph {
    min-width: 784px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
  }
  
  .two-columns__main-text {
    width: 80%;
    min-width: 784px;
  }
  
  .two-columns__span-accent {
    font-weight: bold;
  }
  
  .two-columns__paragraph_margin-bottom {
    /* I prefer not to use pseudo classes with BEM */
    margin-bottom: 30px;
  }
  
  /*  end two columns */
  
  .digits {
    margin-top: 100px;
  }
  
 
  

  .section-title {
    line-height: 69px;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  
  .section-subtitle {
    /* Reset of default styles */
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* end of reset */
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  
 
  

  
  
 
  /* feinman block */
  
  .feinman {
    height: 790px;
    background-color: #f2f2f2;
    background-image: url("../images/feinman.png");
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: bottom left;
    position: relative;
    padding-top: 100px;
  }
  
  .feinman__title {
    margin-top: 0;
    width: 770px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }
  
  .feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin: 70px 0 0;
  }
  
  .feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    text-decoration: none;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
  }
  
  /* end of feinman block:  */
  
  .kaufman {
    background-color: #000000;
    color: white;
    padding-top: 90px;
    overflow: hidden;
    position: relative;
  }
  
  .section-title__theme_dark {
    width: 60%;
    margin: 0 auto;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
  
  .section-subtitle__theme_dark {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
  }
  

  .kaufman__triangle {
    background-image: url("../images/triangle.svg");
    position: absolute;
    right: -210px;
    height: 877px;
    width: 877px;
    bottom: 90px;
    overflow: hidden;
  }
  
  /* end of kaufman section */
  
  .footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    color: white;
    min-height: 350px;
  }
  
  .logo_place_footer {
    background-image: url("../images/logo_white.png");
  }
  
  .footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  
  .footer__columns_content-copyright {
    flex-basis: 711px;
    position: relative;
  }
  
  .footer__author {
    /* width: 18px; my lastname is too long for this. */
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    color: #4f4f4f;
  }
  
  .footer__column-heading {
    /* Reset of default styles */
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* end of reset */
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer__list-item {
    list-style-type: none;
  }
  
  .footer__column {
    /* Reset of default styles */
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* end of reset */
  }
  
  .footer__columns_content-social {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer__column-links {
    /* Reset of default styles */
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* end of reset */
  }
  
  .footer__link {
    display: flex;
  
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #4f4f4f;
  }
  
  .footer__social-icon {
    text-decoration: none;
    color: #4f4f4f;
  }
  